@font-face {
  font-family: 'Noto';
  src: url(fonts/NotoSansJP-Medium.otf);
}

/* *Base style */
button {
  box-sizing: border-box;
  font-family: 'Noto';
  border: none;
  border-radius: 0.25rem;
}

.no-shadow {
  box-shadow: none !important;
}

/* *Variant definition */
.outline {
  background-color: transparent !important;
  border: 1px solid #3d5afe;
  color: #3d5afe;
}

.text {
  background-color: transparent !important;
  color: #3d5afe;
}

.outline:hover,
.outline:focus,
.text:hover,
.text:focus {
  background-color: rgba(41, 98, 255, 0.1) !important;
}

/* *Shadow definition */
.shadow {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

/* *Color definition */
.color-default {
  background-color: #e0e0e0;
}

.color-default:hover,
.color-default:focus {
  background-color: #aeaeae;
}

.color-primary {
  background-color: #2962ff;
  color: white;
}

.color-primary:hover,
.color-primary:focus {
  background-color: #0039cb;
}

.color-secondary {
  background-color: #455a64;
  color: white;
}

.color-secondary:hover,
.color-secondary:focus {
  background-color: #1c313a;
}

.color-danger {
  background-color: #d32f2f;
  color: white;
  color: white;
}

.color-danger:hover,
.color-danger:focus {
  background-color: #9a0007;
}

/* *Size definition */
.sm {
  padding: 6px 12px;
}

.md {
  padding: 8px 16px;
}

.lg {
  padding: 11px 22px;
}
